

.Titulo-cursos{
    font-size: 60px;
    text-align: center;
    font-style: italic;
    color: grey;
  }
  
  .Titulo-2{
    margin: 20px;
    padding: 25px;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: gray;
    margin: 20px;
    padding: 20px;
  }
  
  .parrafo-2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    
  }
  
  .corousel-img{
    width:80%;
    height: 15%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .carousel-item{
    h5{
     font-size: 35px;  
     color: rgb(52, 18, 18); 
    }
    p{
    font-size: 30px;
    color:rgba(108, 61, 27, 0.793) ;
    text-shadow:black;
    }
  }