*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  @import "./scss/navegador";
  @import "./scss/titulo";
  @import "./scss/contenido";
  @import "./scss/estilos";
  @import "./scss/cursos";
  @import "./scss/horarios";
  @import "./scss/contactos";
  @import "./scss/video";
  @import "./scss/footer";


















  


  


    
